@charset "utf-8";

:root {
  --parchment: #c7b597; /* light parchment (brown) color */
}

html,body{
    height:100%;
}

body {
	background-color: var(--parchment);
	background-image: url("/img/parchment.png");
	
}

.row {
	min-height: 100%;
}

.col {
	min-height: 100%;
   display: grid;
   grid-auto-flow: row;
}

.flex-fill {
	flex:1;
}

.console-container {
	min-height: 100%;
}

#console {
	height: 100%;
	align: center;
}

#console-screen {
	margin: 4%;
	height: 80%;
	background-color: black;
	border: 2px solid white;
}

#input-window {
	width: 80%;
}

/*************** Tablets - Devices greater than 768px ******************/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	
}

/*************** Desktops - Devices greater than 992px *****************/

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/*************** Large Desktops - Devices greater than 1200px ****************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
}