@charset "utf-8";

html,body{
    height:100%;
}

.row {
	min-height: 100%;
}

.col {
	min-height: 100%;
}

.flex-fill {
	flex:1;
}

.console-container {
	min-height: 100%;
}

#console {
	background-color: black;
}

.console-info {
	background-color: #9b8963; /* parchement brown color */
}


/*************** Tablets - Devices greater than 768px ******************/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	
}

/*************** Desktops - Devices greater than 992px *****************/

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/*************** Large Desktops - Devices greater than 1200px ****************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
}