<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	   <title>LTFB</title>
	   <link rel="stylesheet" 
	      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
	      integrity="undefined" 
	      crossorigin="anonymous">
	      <link href="css/styles.css" rel="stylesheet"/>
	      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	      <script src="js/functions.js"></script>
	      <!-- Font imports -->			
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
			<!-- End Font imports -->
	</head>
	
	<body>
	   <!--  Full Screen Width Container -->
	   <div class="container-fluid d-flex h-100 flex-column">
	   
	      <!-- Row --  made with css grid to have 3 columns -->
		   <div id="console-container" class="row g-3 flex-fill" >
		   
		      <!--  Left column -- used for game info -->
		      <div class="col-md-3 console-info ">
		         <!--  Column title -->
		         <div>
	                <h2 id="info-left-title" align="center">Minimap</h2>
	             </div>
                  <!--  Minimap contents -->
	             <div id="minimap"></div>
	             <br />
                 <div align="center">Your current location: </div>
                 <div align="center">
                    <div id="location-text">?</div>
                 </div>

		      </div>
		      
		      <!--  Middle column -- used for console input/output-->
		      <div id="console" class="col-md-6">
		         <!-- Column title -->
		         <div id="console-header">
		           <h1 id="console-title" align="center">Lair of The Forgotten Beast</h1>
		         </div>
		         <!-- Output console -->
		         <div id="console-screen">
		         	<textarea th:type="text" id="console-screen-text" class="console-screen" disabled>
Welcome to Lair of the Forgotten Beast! 
For a list of commands, type "help" or "?". 

Please type a command. 
		         	</textarea>
		            <!-- <p id="console-screen-text"> > Enter a command </p> -->
		         </div>
		         <br />
		         <!-- Input console -->
		         <div id="console-input" align="center"> 
	              <form id="command-form" action="#" th:action="@{/console}" th:object="${commandInfo}" method="post">
		               <input type="text" id="input-window" name="commandString"/>
		               <button type="submit" value="Submit">Submit!</button>
	              </form>
		         </div>
		      </div>
		      
		      <!--  Right column -- used for game info -->
		      <div class="col-md-3 console-info">
		        <!--  Column title -->
                <div>
                   <h2 id="info-right-title" align="center">Player Info</h2>
                </div>
                 
                <div>
                  <p class="info-right-body" align="left" id="player-HP">HP: ?</p>
                  <p class="info-right-body" align="left" id="player-Weapon">Equipped Weapon: ?</p>
                  <p class="info-right-body" align="center">~~~ Inventory ~~~</p>
                  <p class="info-right-body" align="left" id="player-Inventory">[?]</p>
                </div>
		      </div> <!--  End right column -->
		      
		   </div> <!--  End row -->
		</div> <!--  End full screen container -->
	</body>
	<!--  Footer -->
	<footer align="center">
	  <p>Created by: Nick D'Orazio, Brian James, Kyle Oakes</p>
	</footer>
</html>